/ = link_to "Create an account", new_identity_path
/ = link_to "Login", "/auth/identity"

= form_tag "/auth/identity/callback" do
  %div.field
    = label_tag :auth_key, "Email"
    %br
    = text_field_tag :auth_key
  %div.field
    = label_tag :password
    %br
    = password_field_tag :password
  %div.actions
    = submit_tag "Login"